In [2]:
import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.base import TransformerMixin
from sklearn.preprocessing import (FunctionTransformer, StandardScaler) 
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from scipy.stats import boxcox 
from sklearn.model_selection import train_test_split, KFold , StratifiedKFold, cross_val_score, GridSearchCV, learning_curve, validation_curve
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from collections import Counter

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier, plot_importance
from sklearn.svm import SVC
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from time import time
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, classification_report
import xgboost as xgb
from sklearn.ensemble import BaggingClassifier
from sklearn.linear_model import SGDClassifier
from time import time
from sklearn.preprocessing import StandardScaler
from IPython.display import display
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
import lightgbm as lgb

import warnings
warnings.filterwarnings('ignore')
sns.set_style('whitegrid')

In [10]:
df = pd.read_csv('data/cardio_base.csv')
df.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [12]:
df['age_years'] = (df['age'] / 365).astype(int)

In [13]:
average_weight_by_age = df.groupby('age_years')['weight'].mean()

In [15]:
max_weight_age_group = average_weight_by_age.idxmax()
min_weight_age_group = average_weight_by_age.idxmin()

In [16]:
weight_difference = average_weight_by_age[max_weight_age_group] - average_weight_by_age[min_weight_age_group]

In [17]:
print(f"The age group with the highest average weight is {max_weight_age_group} years old.")
print(f"The age group with the lowest average weight is {min_weight_age_group} years old.")
print(f"The difference in average weight between these age groups is {weight_difference:.2f} kg.")

The age group with the highest average weight is 63 years old.
The age group with the lowest average weight is 30 years old.
The difference in average weight between these age groups is 16.87 kg.

In [19]:
percentage_difference = (weight_difference / average_weight_by_age[min_weight_age_group]) * 100
print(f"This is {percentage_difference:.2f}% heavier than the age group with the lowest weight.")

This is 28.60% heavier than the age group with the lowest weight.

In [7]:
df = pd.read_csv('data/covid_data.csv')
df.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [9]:
df = pd.read_csv('data/cardio_alco.csv', delimiter=';')
df.head()

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0